body {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    width: 90%;
    margin: auto;
    position: relative;
  }
  
  a {
    text-decoration: none;
  }
  
  .go_to_main {
    width: 160px;
    padding: 1px;
    z-index: 99;
    background: #DB8876;
    border-radius: 5px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 100ms ease-in;
    color: black;
  }
  .go_to_main a {
    text-decoration: none;
  }
  
  .go_to_main:focus {
    opacity: 1;
    transition: opacity;
  }
  
  .tag {
    padding: 3px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    margin: 2px;
    padding: 3px 4px;
    color: #901C1C;
  }
  .tag.active {
    background-color: #901C1C;
    color: white;
  }
  .tag:hover {
    background-color: #901C1C;
    color: white;
  }
  
  .bottom-box {
    width: 200px;
    height: 40px;
    background-color: #DB8876;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 60px;
  }
  @media screen and (max-width: 670px) {
    .bottom-box {
      display: none;
    }
  }
  .bottom-box .rating-section {
    display: flex;
  }
  .bottom-box .rating-section .heart {
    display: flex;
    align-items: center;
    margin-left: 3px;
  }
  
  .card {
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card img {
    overflow: hidden;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  
  .card .name {
    font-weight: normal;
    font-size: 28px;
    line-height: 47px;
    text-align: center;
    color: #D3573C;
    margin: 0;
  }
  
  .info > .location {
    color: #901C1C;
    font-size: 13px;
  }
  .info > .tagline {
    font-size: 10px;
    margin-top: 5px;
  }
  .info > .price {
    font-size: 9px;
    color: #757575;
    margin-top: 5px;
  }
  .info > .tagbox {
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .hero {
    height: 170px;
    padding: 30px;
    background-color: #FAFAFA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (max-width: 670px) {
    .hero {
      background-color: white;
      padding: 0;
    }
  }
  @media screen and (max-width: 380px) {
    .hero {
      padding: 0 0 30px 0;
    }
  }
  .hero > .hero-button {
    width: 30%;
    height: 90%;
  }
  @media screen and (max-width: 670px) {
    .hero > .hero-button .btn-contact {
      position: fixed;
      bottom: 30px;
      right: 50%;
      transform: translateX(50%);
    }
  }
  .hero > .hero-image {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (max-width: 670px) {
    .hero > .hero-image {
      height: 100%;
    }
  }
  .hero img {
    overflow: hidden;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  @media screen and (max-width: 670px) {
    .hero img {
      width: 120px;
      height: 120px;
    }
  }
  @media screen and (max-width: 380px) {
    .hero img {
      width: 90px;
      height: 90px;
    }
  }
  .hero img:after {
    display: block;
    content: url("");
    position: absolute;
    top: calc(50% + 8px);
    left: calc(50% + 10px);
    z-index: 1;
    transform: translate(-50%, -50%);
    filter: blur(10px);
    opacity: 0.85;
  }
  
  .hero .info .name {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #D3573C;
    margin: 0;
  }
  .hero .info .location {
    margin: 15px 0;
    font-size: 16px;
  }
  .hero .info .tagline {
    font-size: 12px;
  }
  .hero .info .tagbox {
    justify-content: flex-start;
  }
  
  .btn-contact {
    background-color: darkred;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    font-size: small;
    letter-spacing: 1px;
    z-index: 99;
  }
  
  .media-card {
    width: 31%;
    margin: 10px;
    position: relative;
  }
  .media-card img, .media-card .media-video {
    width: 100%;
    height: 290px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  @media screen and (max-width: 1015px) {
    .media-card {
      width: 45%;
    }
  }
  @media screen and (max-width: 670px) {
    .media-card {
      width: 100%;
    }
  }
  
  .media-card_info {
    width: 100%;
    display: flex;
    font-size: 14px;
    color: #901C1C;
    align-items: center;
  }
  .media-card_info__text {
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
  }
  .media-card_info__heart {
    width: 20%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .media-card_info__heart .heart-number {
    margin-right: 3px;
  }
  .media-card_info__heart .fa-heart {
    display: flex;
    align-items: center;
  }
  
  .header-index {
    height: 90px;
    width: 70%;
    position: absolute;
  }
  @media screen and (max-width: 670px) {
    .header-index {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  
  .header-elements {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
  @media screen and (max-width: 1015px) {
    .header-elements {
      margin-top: 3px;
    }
  }
  @media screen and (max-width: 670px) {
    .header-elements {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      margin-top: 10px;
    }
  }
  
  .logo {
    width: 30%;
    display: flex;
  }
  .logo img {
    width: 150px;
  }
  @media screen and (max-width: 1015px) {
    .logo img {
      width: 128px;
    }
  }
  @media screen and (max-width: 670px) {
    .logo img {
      margin: 25PX 0 30PX 10PX;
    }
  }
  @media screen and (max-width: 380px) {
    .logo img {
      width: 100%;
    }
  }
  
  nav {
    width: 65%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  nav a {
    color: #901C1C;
  }
  @media screen and (max-width: 1015px) {
    nav {
      margin-right: 5%;
    }
  }
  @media screen and (max-width: 670px) {
    nav {
      width: 100%;
    }
  }
  
  .header-photographer-page {
    width: 100%;
    margin: 20px 0;
  }
  .header-photographer-page img {
    width: 150px;
  }
  
  #index_main {
    margin-top: 25px;
  }
  
  .nos-photographes {
    font-weight: normal;
    font-size: 28px;
    line-height: 47px;
    color: #901C1C;
    text-align: right;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 10px 0 0;
  }
  @media screen and (max-width: 1015px) {
    .nos-photographes {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 670px) {
    .nos-photographes {
      height: 100px;
      margin-bottom: 60px;
      font-size: 18px;
    }
  }
  @media screen and (max-width: 380px) {
    .nos-photographes {
      height: 90px;
      margin-bottom: 70px;
      font-size: 16px;
    }
  }
  
  #section-homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #section-homepage .card {
    width: 33%;
  }
  @media screen and (max-width: 1015px) {
    #section-homepage .card {
      width: 50%;
    }
  }
  @media screen and (max-width: 670px) {
    #section-homepage .card {
      width: 100%;
    }
  }
  
  /* PAGES PHOTOGRAPHES */